* {
    box-sizing: border-box
}



img{
   width: 100%;
   display: block;
}

body{
   font-family: "sans-serif"
}

#app-container > * {
   display: inline-block;
   margin: 0;
   font-size: 0;
}
.header {
   margin: 0;
   width: 100%;
   vertical-align: top;
   font-size: 0;
}

.logo {
   width: 100%;
   padding: 20px;
   display: inline-block;
   margin: auto;
}
.menu {
   width: 100%;
   display: inline-block;
   margin: auto;
   text-align: center;
   padding: 10px;
}
.menu-button{
   font-size: 24px;
   color: gray;
   text-decoration: none;
   font-weight: 400;
   padding: 10px;
}
.filter {
   font-size: 22px;
   color: gray;
   text-decoration: none;
   font-weight: 200;
   padding: 10px;
}

.image-container {
   width: 100%;
   display: inline-block;
   vertical-align: top;
   font-size: 0;
   margin: auto;
}
.image-container .image {
   width: 50%;
   display: inline-block;
   vertical-align: top;
   font-size: 0;
   margin: auto;
}

.footer-1 {
   width: 100%;
   margin: auto;
   font-size: 0;
   display: inline-block;
   text-align: center;
   padding: 10px;
}
.top {
   width: 9%;
   height: 9%;
   font-size: 24px;
   font-weight: 400;
   background-color: gray;
   margin: auto;
   display: inline-block;
}
.top a{
   color: white;
   text-decoration: none;
   vertical-align: middle;
}

.footer-2 {
   width: 100%;
   margin: auto;
   font-size: 0;
   display: inline-block;
   text-align: center;
   padding: 10px;
}
.search {
   width: 100%;
   margin: auto;
   position: relative;
}
.search-box {
   width: 60%;
   height: 25px;
   border: 1px solid gray;
   border-radius: 3%;
}
.icon {
   width: 60%;
   font-size: 15px;
   color: gray;
   position: absolute;
   top: 0;
   right: 0;
   transform: translateY(25%) translateX(10%);
   z-index: 1;
}
