* {
    box-sizing: border-box
}



img{
   width: 100%;
   display: block;
}

body{
   font-family: "sans-serif"
}

#app-container > * {
   display: inline-block;
   margin: 0;
   font-size: 0;
}
.header {
   margin: 0;
   width: 100%;
   vertical-align: top;
   font-size: 0;
}

.logo {
   width: 100%;
   padding: 20px;
   display: inline-block;
   margin: auto;
}
.menu{
   width: 100%;
   display: inline-block;
   margin: auto;
   text-align: center;
   padding: 10px;
}
.menu-button{
   font-size: 24px;
   color: gray;
   text-decoration: none;
   font-weight: 400;
   padding: 10px;
}
.filter {
   font-size: 22px;
   color: gray;
   text-decoration: none;
   font-weight: 200;
   padding: 10px;
}

.image-container {
   width: 100%;
   display: inline-block;
   vertical-align: top;
   font-size: 0;
   margin: auto;
}
.image-container .image {
   width: 50%;
   display: inline-block;
   vertical-align: top;
   font-size: 0;
   margin: auto;
   position: relative;
}

.footer-1 {
   width: 100%;
   margin: auto;
   font-size: 0;
   display: inline-block;
   text-align: center;
   padding: 10px;
   vertical-align: top;
}
.link-container {
   width: 100%;
   display: inline-block;
   margin: 0;
   font-size: 0;
}
.top {
   width: 9%;
   height: 9%;
   font-size: 24px;
   font-weight: 400;
   background-color: gray;
   margin: auto;
   display: inline-block;
}
.top a{
   color: white;
   text-decoration: none;
   vertical-align: middle;
}

.search {
   width: 100%;
   margin: auto;
   position: relative;
   padding: 20px;
}
.search-box {
   width: 60%;
   height: 25px;
   border: 1px solid gray;
   border-radius: 3%;
}
.icon {
   width: 200px;
   font-size: 15px;
   color: gray;
   position: absolute;
   top: 0;
   right: 0;
   transform: translateY(140%) translateX(-2%);
   z-index: 1;
}

@media screen and (min-width: 768px) {
   .header {
      position: relative;
   }
   .logo {
      width: 33.33%;
   }
   .menu {
      width: 20%;
      text-align: right;
      vertical-align: top;

   }

   .image-container .image {
      width: 33.33%;
   }

   .footer-1 {
      display: inline-block;
      margin: 0;
      vertical-align: top;
      position: absolute;
      z-index: 1;
      background-color: white;
      opacity: .9;
      bottom: -30%;
      left: 0;
      transform: translateY(50%);
   }
   .link-container {
      padding: 20px;
      width: 50%;
      display: inline-block;
      margin: 0;
      font-size: 0;
   }
   .search {
      margin: 0;
      display: inline-block;
      margin: 0;
      text-align: left;
      width: 50%;
   }
}

@media screen and (min-width: 1024px) {
   .image-container .image {
      width: 25%;
   }
   .footer-1 {
      display: inline-block;
      margin: 0;
      vertical-align: top;
      position: absolute;
      z-index: 1;
      background-color: white;
      opacity: .9;
      left: 0;
   }
   .link-container {
      display: none;
   }
   .search {
      width: 20%;
   }
}
